<h1>Jobsuche</h1>
<hr />

<p>Verfügbare Jobsuchen: 1</p>

<h3>Fähigkeiten</h3>

<div class="row g-4 mt-0">
  <form class="row g-2">
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          id="jobGeschicklichkeit"
          name="jobGeschicklichkeit"
          class="form-control"
          formControlName="geschicklichkeit"
          placeholder=""
        />
        <label for="jobGeschicklichkeit">Geschicklichkeit</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          id="jobGedächtnis"
          name="jobGedächtnis"
          class="form-control"
          formControlName="gedächtnis"
          placeholder=""
        />
        <label for="jobGedächtnis">Gedächtnis</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          id="jobZielstrebigkeit"
          name="jobZielstrebigkeit"
          class="form-control"
          formControlName="zielstrebigkeit"
          placeholder=""
        />
        <label for="jobZielstrebigkeit">Zielstrebigkeit</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          id="jobIQ"
          name="jobIQ"
          class="form-control"
          formControlName="IQ"
          placeholder=""
        />
        <label for="jobIQ">IQ</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          id="jobKreativität"
          name="jobKreativität"
          class="form-control"
          formControlName="kreativität"
          placeholder=""
        />
        <label for="jobKreativität">Kreativität</label>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-start">
    <button class="btn btn-secondary" [routerLink]="['result']">
      Job suchen
    </button>
  </div>
</div>
